* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  box-shadow: 2px 2px 12px 1px rgb(22, 21, 21);
  border: 2px solid gray;
  padding: 50px 50px;
}
.container h2 {
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-family: cursive;
  color: green;
  font-weight: bold;
  font-size: 2.2rem;
}

.container .inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container .inputContainer input {
  height: 50px;
  width: 15rem;
  font-size: 1.3rem;
}

.container .inputContainer button {
  height: 50px;
  width: 6rem;
  border: none;
  border-radius: 5px;
  font-size: 1.3rem;
  background-color: lightgreen;
}

.container .result {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
}
